apiVersion: v2
actions:
  - name: "Deploy using helm"
    events:
      - name: "sh.keptn.event.je-deployment.triggered"
    tasks:
      - name: "Run helm"
        files:
          - /charts # -> /keptn/charts
        image: "alpine"
        cmd: ["bash"]
        args: ["/keptn/charts/test.sh"]
        ttlSecondsAfterFinished: 15

  - name: "Run tests using locust"
    events:
      - name: "sh.keptn.event.je-test.triggered"
    tasks:
      - name: "Run locust"
        files:
          - locust/basic.py
          - locust/load.py
          - locust/locust.conf
        ttlSecondsAfterFinished: 15
        image: "locustio/locust"
        cmd: 
          - locust
        args:
          - '--config'
          - /keptn/locust/locust.conf
          - '-f'
          - /keptn/locust/basic.py
          - '--host'
          - "http://$(SERVICE).$(PROJECT)-$(STAGE)"
          - "--only-summary"
        env:
          - name: PROJECT
            value: "$.data.project"
            valueFrom: event
          - name: STAGE
            value: "$.data.stage"
            valueFrom: event
          - name: SERVICE
            value: "$.data.service"
            valueFrom: event
